<web-app>
 
  <servlet>
    <servlet-name>startServlet</servlet-name>
    <servlet-class>com.rulezzz.pkr.web.StartPageServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>startServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-class>com.rulezzz.pkr.web.GameEngineServlet</servlet-class>
  	<servlet-name>engineServlet</servlet-name></servlet>
  <servlet-mapping>
  	<servlet-name>engineServlet</servlet-name>
  	<url-pattern>/makeChanges</url-pattern>
  </servlet-mapping>

</web-app>