@CHARSET "UTF-8";


div.backCard {
	width: 74px;
	height: 98px;
	background: url(../../static/images/backCard.png) 0px 0px;
	margin: auto;
}

div.cA {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 0px 0px;
	margin: auto;
}

div.cK {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 74px 0px;
	margin: auto;
}

div.cQ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 147px 0px;
	margin: auto;
}

div.cJ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 220px 0px;
	margin: auto;
}

div.cT {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 293px 0px;
	margin: auto;
}

div.c9 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 366px 0px;
	margin: auto;
}

div.c8 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 439px 0px;
	margin: auto;
}

div.c7 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 512px 0px;
	margin: auto;
}

div.c6 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 585px 0px;
	margin: auto;
}

div.c5 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 658px 0px;
	margin: auto;
}

div.c4 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 731px 0px;
	margin: auto;
}

div.c3 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 804px 0px;
	margin: auto;
}

div.c2 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 877px 0px;
	margin: auto;
}

div.dA {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 0px 98px;
	margin: auto;
}

div.dK {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 74px 98px;
	margin: auto;
}

div.dQ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 147px 98px;
	margin: auto;
}

div.dJ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 220px 98px;
	margin: auto;
}

div.dT {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 293px 98px;
	margin: auto;
}

div.d9 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 366px 98px;
	margin: auto;
}

div.d8 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 439px 98px;
	margin: auto;
}

div.d7 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 512px 98px;
	margin: auto;
}

div.d6 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 585px 98px;
	margin: auto;
}

div.d5 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 658px 98px;
	margin: auto;
}

div.d4 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 731px 98px;
	margin: auto;
}

div.d3 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 804px 98px;
	margin: auto;
}

div.d2 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 877px 98px;
	margin: auto;
}


div.hA {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 0px 196px;
	margin: auto;
}

div.hK {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 74px 196px;
	margin: auto;
}

div.hQ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 147px 196px;
	margin: auto;
}

div.hJ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 220px 196px;
	margin: auto;
}

div.hT {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 293px 196px;
	margin: auto;
}

div.h9 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 366px 196px;
	margin: auto;
}

div.h8 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 439px 196px;
	margin: auto;
}

div.h7 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 512px 196px;
	margin: auto;
}

div.h6 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 585px 196px;
	margin: auto;
}

div.h5 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 658px 196px;
	margin: auto;
}

div.h4 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 731px 196px;
	margin: auto;
}

div.h3 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 804px 196px;
	margin: auto;
}

div.h2 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 877px 196px;
	margin: auto;
}



div.sA {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 0px 294px;
	margin: auto;
}

div.sK {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 74px 294px;
	margin: auto;
}

div.sQ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 147px 294px;
	margin: auto;
}

div.sJ {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 220px 294px;
	margin: auto;
}

div.sT {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 293px 294px;
	margin: auto;
}

div.s9 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 366px 294px;
	margin: auto;
}

div.s8 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 439px 294px;
	margin: auto;
}

div.s7 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 512px 294px;
	margin: auto;
}

div.s6 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 585px 294px;
	margin: auto;
}

div.s5 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 658px 294px;
	margin: auto;
}

div.s4 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 731px 294px;
	margin: auto;
}

div.s3 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 804px 294px;
	margin: auto;
}

div.s2 {
	width: 74px;
	height: 98px;
	background: url(../../static/images/classic-playing-cards.png) 877px 294px;
	margin: auto;
}